# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled Python bytecode
*.pyc

# Ignore environment-specific configuration files
.env

# Ignore IDE or editor specific files
.vscode/
.idea/

# Ignore build artifacts
/build/
/dist/
